@charset "utf-8";
/* CSS Document */
body{background:#F3F5F4;}
.pwdMain{width:100%; height:auto; margin-top:1rem;}
.pwdBox{width:100%; text-align:center; display:inline-block; position:relative;}
.pwdBox input{width:90%; height:3.5rem; line-height:3.5rem; border:1px #dfe5e7 solid; margin:.8rem auto; border-radius:5px; font-size:1.2rem; 
	font-family:"Microsoft YaHei";}
.textPic{position:absolute; right:5%; top:1.3rem; border-left:1px #dfe5e7 solid; width: 10rem;}
.textPic img{width:7rem;}
.codeBox{width:90%; margin:0 auto;}
.codeBox button{width:30%; float:right; margin-right:5%; height:3.5rem; line-height:3.5rem; margin:.8rem 0; background:none; color:#20c0fb; 
	border:1px #20c0fb solid; border-radius:5px; font-size:1.2rem; font-family:"Microsoft YaHei";}

.nextBtn{width:90%; height:3rem; background:#20c0fb; color:#fff; border-radius:5px; border:none; font-size:1.2rem; margin:4rem auto; display:block; 
	font-family:"Microsoft YaHei";}

.l_pswBtn{width:2rem;height:2rem;position: absolute; right:10%; top:1.6rem; background: url(../images/icon/icon_eyes.png) center -1.2rem no-repeat;background-size: 1.8rem;}
.l_pswBtn2{background: url(../images/icon/icon_eyes.png) center 0.3rem  no-repeat;background-size: 1.8rem;}

.tipspwd{width:90%; margin:0 auto; font-size:1rem; color:#9e9e9e;}




