.addressBox{width: 100%;height: auto;margin: 10rem auto;}
.addImg{width: 50%;height: 100%;margin: 0 auto;}
.addImg img{width: 100%;height: auto;}
.addressBox dd{width: 50%;height: auto;margin: 0 auto;text-align: center;margin-top: 1rem;}